<h1>Authors</h1>

<a href="<%= newAuthorPath %>">New Author</a>

<div class="cards-container">
  <% authors.forEach((author) => { %>
  <a class="card-label" href="<%= buildAuthorPath(author) %>">
    <img src="<%= author.books.length ? author.books[0].imageUrl : defaults.bookImageUrl %>" alt="<%= author.name %>">
    <div class="shadow">
      <p class="label"><%= author.name %></p>
    </div>
  </a>
  <% }) %>
</div>

<div class="page-selector">
  <% if (page > 1) { %>
  <a class="page-arrow" href="<%= previousPagePath %>">&lt;</a>
  <% } %>
  <span class="page-number"><%= page %></span>
  <a class="page-arrow" href="<%= nextPagePath %>">&gt;</a>
</div>
