<h1>Authors</h1>

<% if (currentUserIsAdmin) { %>
  <a href="<%= newAuthorPath %>">New Author</a>
<% } %>

<div class="search-container">
  <form action="/authors" method="get">
    <input class="field" type="text" name="q" value="<%= q %>" placeholder="Albert Einstein">
    <input class="button fitted" type="submit" value="Search">
  </form>
  <% if (q.length) { %>
    <p>Results for '<span class="q"><%= q %></span>'</p>
  <% } %>
</div>

<div class="cards-container">
  <% authors.forEach((author) => { %>
  <a class="card-label" href="<%= buildAuthorPath(author) %>">
    <img src="<%= author.books.length ? author.books[0].imageUrl : defaults.bookImageUrl %>" alt="<%= author.name %>">
    <div class="shadow">
      <p class="label"><%= author.name %></p>
    </div>
  </a>
  <% }) %>
  <% Array(15).fill(0).forEach(_ => { -%>
    <div class="last-row-fix"></div>
  <% }) %>
</div>

<div class="page-selector">
  <% if (page > 1) { %>
  <a class="page-arrow" href="<%= previousPagePath %>">&lt;</a>
  <% } %>
  <span class="page-number"><%= page %></span>
  <a class="page-arrow" href="<%= nextPagePath %>">&gt;</a>
</div>
