<h1><%= author.name %> </h1>

<div class="cards-container">
  <% books.forEach((book) => { %>
    <a class="card-book" href="<%= buildBookPath(book) %>">
        <img src="<%= book.imageUrl %>" alt="<%= book.title %>">
        <div class="shadow">
          <p class="title"><%= book.title %></p>
          <p class="author"><%= author.name %></p>
        </div>
    </a>
  <% }) %>
</div>

<% if (page > 1) { %>
<a href="<%= previousPagePath %>">Previous</a>
<% } %>
<p>Page <%= page %></p>
<a href="<%= nextPagePath %>">Next</a>
