<h1><%= author.name %> </h1>

<% if (currentUserIsAdmin) { %>
  <div class="actions-container">
    <form action="<%= editAuthorPath %>">
      <input type="submit" class="button secondary" value="Edit"/>
    </form>
    <form action="<%= destroyAuthorPath %>" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" class="button negative" value="Destroy" />
    </form>
  </div>
<% } %>

<div class="cards-container">
  <% books.forEach((book) => { %>
    <a class="card-book" href="<%= buildBookPath(book) %>">
      <img src="<%= book.imageUrl %>" alt="<%= book.title %>">
      <div class="shadow">
        <p class="title"><%= book.title %></p>
        <p class="author"><%= author.name %></p>
      </div>
    </a>
  <% }) %>
</div>

<a href="<%= authorsPath %>">Back to all authors</a>

<div class="page-selector">
  <% if (page > 1) { %>
  <a class="page-arrow" href="<%= previousPagePath %>">&lt;</a>
  <% } %>
  <span class="page-number"><%= page %></span>
  <a class="page-arrow" href="<%= nextPagePath %>">&gt;</a>
</div>
