<h1>Genres</h1>

<a href="<%= newGenrePath %>">New Genre</a>

<ul>
  <% genres.forEach((genre) => { %>
    <li><a href="<%= buildGenrePath(genre) %>"><%= genre.name %></a></li>
  <% }) %>
</ul>

<div class="page-selector">
  <% if (page > 1) { %>
  <a class="page-arrow" href="<%= previousPagePath %>">&lt;</a>
  <% } %>
  <span class="page-number"><%= page %></span>
  <a class="page-arrow" href="<%= nextPagePath %>">&gt;</a>
</div>
