<h1><%= genre.name %></h1>

<a href="<%= genresPath %>">Back to all genres</a>

<% if (currentUserIsAdmin) { %>
  <a href="<%= editGenrePath %>">Edit</a>
  <form action="<%= destroyGenrePath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Destroy" />
  </form>
<% } %>

<div class="cards-container">
  <% books.forEach((book) => { %>
  <a class="card-book" href="<%= buildBookPath(book) %>">
    <img src="<%= book.imageUrl %>" alt="<%= book.title %>">
    <div class="shadow">
      <p class="title"><%= book.title %></p>
      <p class="author"><%= book.author.name %></p>
    </div>
  </a>
  <% }) %>
</div>

<div class="page-selector">
  <% if (page > 1) { %>
  <a class="page-arrow" href="<%= previousPagePath %>">&lt;</a>
  <% } %>
  <span class="page-number"><%= page %></span>
  <a class="page-arrow" href="<%= nextPagePath %>">&gt;</a>
</div>
