<h1><%= genre.name %></h1>

<a href="<%= genresPath %>">Back to all genres</a>
<a href="<%= editGenrePath %>">Edit</a>
<form action="<%= destroyGenrePath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Destroy" />
</form>

<ul>
    <% books.forEach((book) => { %>
    <li><a href="<%= buildBookPath(book) %>"><%= book.title %></a></li>
    <% }) %>
</ul>

<% if (page > 1) { %>
<a href="<%= previousPagePath %>">Previous</a>
<% } %>
<p>Page <%= page %></p>
<a href="<%= nextPagePath %>">Next</a>