
<h1>Books owned: <%= userBooks.length %> </h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>State</th>
      <th>Comment</th>
      <% if (currentUser.username !== user.username) { %>
        <th>Propose exchange</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% userBooks.forEach(instance => { %>
      <tr>
        <td><%= instance.book.title %></td>
        <td><%= instance.state %></td>
        <td><%= instance.comment %></td>
        <% if (currentUser.username !== user.username) { %>
          <td>
            <form action="<%= createMatchPath %>" method="post">
              <input type="hidden" name="proposeeBookInstanceId" value="<%= instance.id %>"/>
              <select name="proposerBookInstanceId" required>
                <% currentUserBooks.forEach(instance => { %>
                  <option value="<%= instance.id %>"><%= instance.book.title %></option>
                <% }) %>
              </select>
              <input type="submit" value="Propose exchange" />
            </form>
          </td>
        <% } %>
      </tr>
    <% }) %>
  </tbody>
</table>