<h2>Resolved matches:</h2>
<table>
  <thead>
    <th>Book you'll give</th>
    <th>Book you'll get</th>
    <th>Contact</th>
  </thead>
  <tbody>
    <% for (let i = 0; i < settledMatches.length; i += 1) { %>
      <% if (settledMatches[i].proposeeBookInstanceId.userId === currentUser.id) {%>
      <tr>
        <td><%= bookTitlesSettled[i][1].title %></td>
        <td><%= bookTitlesSettled[i][0].title %></td>
        <td><%= usersContact[i].email %></td>
      </tr>
    <% } else if (settledMatches[i].proposerBookInstance.userId === currentUser.id) { %>
      <tr>
        <td><%= bookTitlesSettled[i][0].title %></td>
        <td><%= bookTitlesSettled[i][1].title %></td>
        <td><%= usersContact[i].email %></td>
      </tr>
    <% }} %>
  </tbody>
</table>

<h2>Pending matches:</h2>
<table>
  <thead>
    <th>Proposing user</th>
    <th>Proposed book</th>
    <th>Your book</th>
    <th>Book's state</th>
    <th>Book's comment</th>
    <th>Approve</th>
    <th>Refuse</th>
  </thead>

  <tbody>
    <% for (let i = 0; i < pendingMatches.length; i += 1) { %>
      <% if (pendingMatches[i].proposeeBookInstance.userId === currentUser.id) {%>
      <tr>
        <td><%= userNames[i].username %></td>
        <td><%= bookTitlesPending[i][0].title %></td>
        <td><%= bookTitlesPending[i][1].title %></td>
        <td><%= pendingMatches[i].proposerBookInstance.state %></td>
        <td><%= pendingMatches[i].proposerBookInstance.comment %></td>
        <td>
          <form action="<%= acceptMatchPath(pendingMatches[i]) %>" method="post">
            <input type="hidden" name="_method" value="patch" />
            <input type="submit" value="Approve it" />
          </form>
        </td>
        <td>
          <form action="<%= destroyMatchPath(pendingMatches[i]) %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Refuse it" />
          </form>
        </td>
      </tr>
    <% }} %>
  </tbody>
</table>