<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Cambalache</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
    <link rel="shortcut icon" type="image/png" href="<%= assetPath('favicon.png') %>">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,300,400,400i,500,600,700,700i,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <a id="logo" href="/">
        <img src="<%= assetPath('logo.svg') %>" alt="Logo" />
      </a>
      <nav>
        <a href="<%= booksPath %>">Books</a>
        <a href="<%= genresPath %>">Genres</a>
        <a href="<%= authorsPath %>">Authors</a>
        <a href="<%= usersPath %>">Users</a>
        <% if (currentUser) { %>
          <a href="<%= buildUserPath(currentUser) %>"><%= currentUser.username %></a>
          <form action="<%= destroySessionPath %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="icon-button"><i class="fa fa-sign-out-alt"></i></button>
          </form>
        <% } else { %>
          <a href="<%= newUserPath %>">Sign up</a>
          <a href="<%= newSessionPath %>">Sign in</a>
        <% } %>
      </nav>
    </header>

    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
