<div class="form-container">
  <form action="<%= submitBookPath %>" method="post" enctype="multipart/form-data" class="form-card">
    <h1 class="form-title"><%= title %></h1>
    <% if (locals.errors) { %>
    <p class="errors">Check the following errors:</p>
    <ul>
      <% Object.keys(errors).forEach(prop => { %>
      <li>
        <%= prop %>:
        <%= errors[prop].message %>
      </li>
      <% }) %>
    </ul>
    <% } %>
    <% if (!book.isNewRecord) { %>
    <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" value="<%= book.title %>" placeholder="Charlie and the Chocolate Factory" required />
    </div>
    <div>
      <label for="author">Author</label>
      <% if (book.isNewRecord) { %>
      <input type="text" name="author" placeholder="Roald Dahl" required />
      <% } else { %>
      <input type="text" name="author" value="<%= book.author.name %>" placeholder="Roald Dahl" required />
      <% } %>
    </div>
    <div>
      <label for="isbn">ISBN</label>
      <input type="text" name="isbn" value="<%= book.isbn %>" placeholder="9783125737600" required />
    </div>
    <div>
      <label for="language">Language</label>
      <input type="text" name="language" value="<%= book.language %>" placeholder="English" required />
    </div>
    <div>
      <label for="pages">Pages</label>
      <input type="number" name="pages" value="<%= book.pages %>" min="0" placeholder="192" />
    </div>
    <div>
      <label for="imageUrl">Image URL</label>
      <input type="file" name="imageUrl" accept="image/*"/>
    </div>
    <div>
      <label for="publisher">Publisher</label>
      <input type="text" name="publisher" value="<%= book.publisher %>" placeholder="Alfred A. Knopf, Inc." />
    </div>
    <div>
      <label for="datePublished">Date Published</label>
      <input type="date" name="datePublished" value="<%= formatDate(book.datePublished) %>" />
    </div>
    <div>
      <label for="format">Format</label>
      <input type="text" name="format" value="<%= book.format %>" placeholder="Hardcover" />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea type="text" name="description" placeholder="The story features the adventures of young Charlie Bucket inside the chocolate factory of eccentric chocolatier Willy Wonka."><%= book.description %></textarea>
    </div>
    <div>
      <label for="description">Genres</label>
      <select name="genres" size="5" multiple>
        <% genres.forEach(genre => { %>
          <% if (!book.isNewRecord && !!book.genres.find(g => g.id === genre.id)) { %>
          <option value="<%= genre.id %>" selected><%= genre.name %></option>
          <% } else { %>
          <option value="<%= genre.id %>"><%= genre.name %></option>
          <% } %>
        <% }) %>
      </select>
    </div>
    <div class="button">
      <% if (book.isNewRecord) { %>
      <input type="submit" name="create" value="Create" />
      <% } else { %>
      <input type="submit" name="update" value="Save" />
      <% } %>
    </div>
  </form>
</div>

<script>
// Change select behavior -> click to toggle option selection
$("select").mousedown(function(e){
    e.preventDefault();
    var scroll = this .scrollTop;
    e.target.selected = !e.target.selected;
    setTimeout(function(){this.scrollTop = scroll;}, 0);
    $(this).focus();
}).mousemove(function(e){e.preventDefault()});
</script>
