<h1>Libros</h1>

<ul>
  <% books.forEach((book) => { %>
    <li><a href="<%= buildBookPath(book) %>"><%= book.title %></a></li>
  <% }) %>
</ul>

<a href="<%= previousPagePath %>">Previous</a>
<p>Page <%= page %></p>
<a href="<%= nextPagePath %>">Next</a>

