<div class="info-container">
    <div class="image-container">
        <img src="<%= book.imageUrl %>" alt="<%= book.title %>">
    </div>
    <div class="info">
      <h1><%= book.title %> - <span id="author"><a href="<%= authorPath %> "><%= book.author.name %></a></span></h1>
      <p><%= book.description %></p>
      <p><span class="label">Published: </span><%= formatDateTz(book.datePublished) %> (<%= book.publisher %>)</p>
      <p><span class="label">ISBN: </span><%= book.isbn %></p>
      <p><span class="label">Language: </span><%= book.language %></p>
      <p><span class="label">Format: </span><%= book.format %>, <%= book.pages %> pages</p>
    </div>
</div>

<% if (currentUserIsAdmin) { %>
  <a href="<%= editBookPath %>">Edit</a>
  <form action="<%= destroyBookPath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Destroy" />
  </form>
<% } %>

<div class="bottom-container">
  <div class="genres-section">
    <h1 class="section-title">Genres</h1>
    <% genres.forEach(genre => { %>
    <a href="<%= buildGenrePath(genre) %>"><%= genre.name %></a>
    <% }) %>
  </div>

  <div class="reviews-section">
      <h1 class="section-title">Reviews</h1>
      <%- include('_review-form') %>
      <div class="reviews-container">
        <% reviews.forEach(review => { %>
        <div class="review">
          <p class="rating"><a href="<%= buildUserPath(review.user) %> " class="username"><%= review.user.firstName %></a>
             rated it
            <% for( let i = 0; i < review.rating; i++ ) { %>
            <i class="fa fa-star filled"></i>
            <% } %>
            <% for( let i = 0; i < 5 - review.rating; i++ ) { %>
            <i class="fa fa-star empty"></i>
            <% } %>
          </p>
          <div class="comment">
            <input id="<%= review.id %>" type="checkbox">
            <label for="<%= review.id %>"></label>
            <div class="text"><%= review.comment %></div>
          </div>
        </div>
        <% }) %>
      </div>
  </div>
</div>
