<div class="info-container">
  <div class="left-container">
    <div class="image-container">
      <img src="<%= getBookImagePath(book) %>" alt="<%= book.title %>">
    </div>
    <div class="actions-container">
      <% if (currentUser) { %>
        <% if (!interest) { %>
          <% interest = {id: -1, } %>
        <% } %> 
        <div id="want-it" data-username="<%= currentUser.username %>" data-interest-id="<%= interest.id %>" data-book-id="<%= book.id %>" data-interest-path="<%= newInterestPath %>" ></div>
        <%- include('_instance-form') %>
      <% } %>

      <% if (currentUserIsAdmin) { %>
        <form action="<%= editBookPath %>">
          <input type="submit" class="button secondary" value="Edit" />
        </form>
        <form action="<%= destroyBookPath %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" class="button negative" value="Destroy" />
        </form>
      <% } %>
    </div>
  </div>
  <div class="info">
    <h1><%= book.title %> - <span id="author"><a href="<%= authorPath %> "><%= book.author.name %></a></span></h1>
    <p><%= book.description %></p>
    <p><span class="label">Published: </span><%= formatDate(book.datePublished, 'MMMM Do, YYYY') %> (<%= book.publisher %>)</p>
    <p><span class="label">ISBN: </span><%= book.isbn %></p>
    <p><span class="label">Language: </span><%= book.language %></p>
    <p><span class="label">Format: </span><%= book.format %>, <%= book.pages %> pages</p>
    <p><span class="label">Goodreads' rating: </span><%= avgRating %></p>
  </div>
</div>

<div class="stats-container">
  <div class="left-container"></div>
  <div class="right-container">
    <div class="stat">
      <div class="bar">
        <div class="filled-<%= stats.valueInterestsCount %>"></div>
        <div class="not-filled-<%= 100 - stats.valueInterestsCount %>"></div>
      </div>
      <div class="text"><%= stats.interestsCount %> <%= pluralize(stats.interestsCount, 'Interest') %></div>
    </div>
    <div class="stat">
      <div class="bar">
        <div class="filled-<%= stats.valueMatchesCount %>"></div>
        <div class="not-filled-<%= 100 - stats.valueMatchesCount %>"></div>
      </div>
      <div class="text"><%= stats.matchesCount %> <%= pluralize(stats.matchesCount, 'Exchange') %></div>
    </div>
  </div>
</div>

<div class="bottom-container">
  <div class="genres-section">
    <h1 class="section-title">Genres</h1>
    <% book.genres.forEach(genre => { %>
      <a href="<%= buildGenrePath(genre) %>"><%= genre.name %></a>
    <% }) %>
  </div>

  <div class="reviews-section">
      <h1 class="section-title">Reviews</h1>
      <% if (currentUser) { %>
        <%- include('_review-form') %>
      <% } %>
      <div class="reviews-container">
        <% reviews.forEach(review => { %>
        <div class="review">
          <p class="rating">
            <% if (currentUser) { %>
              <a href="<%= buildUserPath(review.user) %> " class="username"><%= review.user.firstName %></a>
            <% } else { %>
              <%= review.user.firstName %>
            <% } %>
             rated it
            <% Array(5).fill().forEach((e, i) => { %>
              <i class="fa fa-star <%= i < review.rating ? 'filled' : 'empty' %>"></i>
            <% }) %>
          </p>
          <div class="comment">
            <input id="checkbox-<%= review.id %>" type="checkbox">
            <label for="checkbox-<%= review.id %>"></label>
            <div class="text"><%= review.comment %></div>
          </div>
        </div>
        <% }) %>
      </div>
  </div>
</div>
