<div class="book-container">
    <img src="<%= book.imageUrl %>" alt="<%= book.title %>">
    <div class="info">
        <h1><%= book.title %> - <span id="author"><%= book.author %></span></h1>
        <p><%= book.description %></p>
        <p>
            <span class="label">Published:</span> <%= formatDate(book.datePublished, 'MMMM Do, YYYY') %>
            (<%= book.publisher %>)
        </p>
        <p><span class="label">ISBN:</span>  <%= book.isbn %></p>
        <p><span class="label">Language:</span>  <%= book.language %></p>
        <p><span class="label">Format:</span>  <%= book.format %>, <%= book.pages %> pages</p>
    </div>
</div>

<a href="<%= editBookPath %>">Edit</a>
<form action="<%= destroyBookPath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Destroy" />
</form>

<div class="bottom-container">
    <div class="genres-container">
        <h1 class="section">Genres</h1>
        <% genres.forEach(genre => { %>
           <a href="<%= buildGenrePath(genre) %>"><%= genre.name %></a>
        <% }) %>
    </div>

    <div class="reviews-container">
        <h1 class="section">Reviews</h1>
        <%- include('_review-form') %>
        <table>
            <thead>
                <tr>
                    <th>Comment</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <% reviews.forEach(review => { %>
                <tr>
                    <td><%= review.comment %></td>
                    <td><%= review.rating %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
