<div class="user-info">
  <div>
    <img src="<%= user.profilePicUrl ? getUserProfilePicPath(user) : defaults.userImageUrl %>" alt="<%= user.username %>">
  </div>
  <div>
    <h1><%= user.fullName %></h1>
    <div id="follows-app" data-username="<%= user.username %>" data-current-username="<%= currentUser.username %>">
      <h5><%= followers.length %> followers and following <%= following.length %> people </h5>
    </div>
  </div>
</div>

<div id="interactions-app" data-username="<%= user.username %>" data-current-username="<%= currentUser.username %>">

</div>

<%- include('show/_feedbacks') %>

<% if (isAdminOrSelf) { %>
  <form action='<%= editUserPath %>' class="flex-column_full">
    <input type="submit" class="button" value="User's info">
  </form>
<% } %>
