
<h1><%= user.firstName + " " + user.lastName %></h1>
<h5><%= followers.length %> followers and following <%= following.length %> people </h5>

<% const isAdminOrSelf = currentUserIsAdmin || currentUser.id === user.id %>


<% if (currentUser.id === user.id) { %>
  <div class="flex-row">
  
    <div class="flex-column quadrant1 flex-top">
        <h1>Pending matches:</h1>
      <%- include('show/_matches') %>
  </div>
    <div class="flex-column quadrant2 flex-top">
        <h1>Interest on user's books</h1>
        <%- include('show/_interests', { isAdminOrSelf }) %>
    </div>
  <% } %>
</div>

<div class="flex-row">
  <div class="flex-column quadrant3 flex-top" >
      <h1>Wants: <%= interests.length %> </h1>
    <%- include('show/_interests_cards', { isAdminOrSelf }) %>
  </div>
  <div class="flex-column quadrant4 flex-top">
    <h1>Owns: <%= userBooks.length %> </h1>
    <%- include('show/_books') %>
  </div>
</div>


<%- include('show/_feedbacks') %>

<% if (user.id === currentUser.id) { %>
  <form action='<%= editUserPath %>' class="flex-column_full">
    <input type="submit" class="button" value="User's info">
  </form>
<% } else { %>
  <form action='#' class="flex-column_full">
    <input type="submit" class="button" value="User's info">
  </form>
<% } %>