<h1><%= user.name %></h1>

<table>
    <tr>
        <thead>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
        </tr>
    </tbody>
</table>

<h1>Interests</h1>

<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <% interests.forEach(interest => { %>
            <tr>
                <td><%= interest.author %></td>
                <td><%= interest.title %></td>
            </tr>
        <% }) %>
    </tbody>
</table>


<h1>Followers: <%= followers.length %></h1>

<table>
    <thead>
        <tr>
            <th>Follower</th>
        </tr>
    </thead>
    <tbody>
        <% followers.forEach(follower => { %>
            <tr>
                <td><%= follower.name %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<h1>Following: <%= following.length %></h1>

<table>
    <thead>
        <tr>
            <th>Following</th>
        </tr>
    </thead>
    <tbody>
        <% following.forEach(follow => { %>
            <tr>
                <td><%= follow.name %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<h1>Feedbacks</h1>

<table>
    <thead>
        <tr>
            <th>Stars</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <% feedbackers.forEach(feedback => { %>
            <tr>
                <td><%= feedback.stars %></td>
                <td><%= feedback.comment %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<hr>

<a href="<%= usersPath %>">Back</a>
<a href="<%= editUserPath %>">Edit</a>
