<h1><%= user.firstName %></h1>

<table>
    <tr>
        <thead>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
        </tr>
    </tbody>
</table>

<h1>Interests</h1>

<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <% interests.forEach(interest => { %>
            <tr>
                <td><%= interest.author.name %></td>
                <td><%= interest.title %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<h1>Books owned: <%= userBooks.length %> </h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>State</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <% userBooks.forEach(instance => { %>
            <tr>
                <td><%= instance.book.title %></td>
                <td><%= instance.state %></td>
                <td><%= instance.comment %></td>
            </tr>
        <% }) %>
    </tbody>
</table>



<h1>Followers: <%= followers.length %></h1>

<table>
    <thead>
        <tr>
            <th>Follower</th>
        </tr>
    </thead>
    <tbody>
        <% followers.forEach(follower => { %>
            <tr>
                <td><%= follower.username %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<h1>Following: <%= following.length %></h1>

<table>
    <thead>
        <tr>
            <th>Following</th>
        </tr>
    </thead>
    <tbody>
        <% following.forEach(follow => { %>
            <tr>
                <td><%= follow.username %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<h1>Feedbacks</h1>

<table>
    <thead>
        <tr>
            <th>Stars</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <% feedbacks.forEach(feedback => { %>
            <tr>
                <td><%= feedback.rating %></td>
                <td><%= feedback.comment %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<hr>

<a href="<%= usersPath %>">Back</a>
<a href="<%= editUserPath %>">Edit</a>
