<style>

  .flex-column {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      /* background: linear-gradient(to bottom right, #8E4631 0%, #FFD13D 100%); */
  }

  .flex-body {
      display: flex;
      flex: 0 0 100%;
      flex-wrap: wrap;
  }

  .flex-body div:not([class*="flex"]) {
      /* border: 1px solid white; */
      flex: 1 1 200px;
      width: 500px;
  }
</style>

<h1><%= user.firstName %></h1>

<% const isAdminOrSelf = currentUserIsAdmin || currentUser.id === user.id %>


<div class="flex-body">
  <div class="flex-colum">
    <div class="one">
      <% if (currentUser.id === user.id) { %>
        <%- include('show/_matches') %>
      <% } %>
    </div>
    <div class="two">
      <h1>Interest on your books</h1>
      <%- include('show/_books') %>
    </div>
  </div>
  <div class="flex-column">
    <div class="three">
      <%- include('show/_interests', { isAdminOrSelf }) %>
    </div>
    <div class="four">
      <h1>Books owned: <%= userBooks.length %> </h1>
      <%- include('show/_books') %>
    </div>
  </div>
  </div>


<%- include('show/_feedbacks') %>

<hr>

<a href="<%= usersPath %>">Back</a>
<% if (isAdminOrSelf) { %>
  <a href="<%= editUserPath %>">Edit</a>
<% } %>
